.item {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .item > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    background: deepskyblue;
    line-height: 30px;
    

  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: rgb(234, 107, 171);
  }
  
  @media all and (min-width: 768px) {
    .aside { flex: 1 0 0; }
    .main{
        height:70px;
    }
    
  }
  
  @media all and (min-width: 1024px) {
    .main    { flex: 3 0px; } 
    .header  { order: 1;}
    .aside-1 { order: 2; } 
    .main    { order: 3; }
    .aside-2 { order: 4; }
    .footer  { order: 5; }
  }
  
  body {
    padding: 0; 
  }
