body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    width: 100%;
    background-color: rgb(3, 3, 47);
}

.navigation>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    list-style: none;
    font-size: 4vw;
    color: #fff;
    padding: 0;
}

.navigation>ul>li:nth-child(1) {
    width: 28%;
    margin: 0 0 5vw 3vw;
}
.navigation>ul>li:nth-child(2) {
    width: 28%;
    margin: 0 0 5vw 3vw;
}
.navigation>ul>li:nth-child(3) {
    width: 28%;
    margin: 0 0 5vw 5vw;
}
.navigation>ul>li:nth-child(4) {
    width: 28%;
    margin: 0 0 0.5vw 3vw;
}

/*Thanh tìm kiếm*/
.search {
    margin: 1.5vw 0 0 1.5vw;
    display: flex;
    width: 70%;
    height: 6vw;
}

.search-input {
    padding: 0 1vw;
    box-sizing: border-box;
    margin: 0;
    width: 90%;
    height: 100%;
    min-width: 50%;
    min-height: 60%;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.glass {
    display: block;
    width: 10%;
    height: 90%;
    font-size: 4.4vw;
}

#input {
    font-size: 2.2vw;
    height: 80%;
    width: 90%;
    border: none;
    outline: none;
}

#button {
    margin-left: 0.1vw;
    width: 20%;
    border-radius: 5px;
    background-color: rgb(6, 6, 92);
    color: #fff;
    font-size: 2.2vw;
}
/*Danh sách món ăn*/

.list {
    margin: 3vw 0;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    align-content: space-around;
}

.food {
    width: 42vw;
    height: 42vw;
    margin: 1vw 1.5vw;
}

.home:hover, 
.blog:hover, 
.menu:hover, 
.contact:hover {
    opacity: 0.7;
    cursor: pointer;
}

#button:hover {
    opacity: 0.8;
}