.chart{
    display: flex;
    height: 500px;
    max-width: 300px;
    align-items: stretch;
    border: 1px solid black;
}
.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    justify-content: flex-end;
}
.cot{
    border-right: 1px solid wheat;
}

.duoi {background: yellow;}
.tren {background: rgb(3, 117, 112);}